    <%- include ('partials/header.ejs')%>
    <%- include ('partials/navbar.ejs')%>
    <h1>Bem-Vindo aos Produtos!</h1>
    
    <h2>Lista de produtos:</h2>
    <%#= produtos =%>
<!--Percorrendo a lista de produtos com forEarch-->
<ul>
<% produtos.forEach(produto   =>{%>
      <li>Produtos: <%= produto.nome %></li>
      <li>Preço: <%= produto.preco.toLocaleString("pt-br",
        {style:"currency",currency:"BRL"}) %></li>
        <br>
     <% }) %>
    <br><br>
</ul>
<a href="/"><< Voltar</a>
<%- include ('partials/footer.ejs')%>