<%- include ('partials/header.ejs')%>
    <%- include ('partials/navbar.ejs')%>
<div class="container mt-5">
    <h1>Bem-Vindo aos lançamentos!</h1>
    
    <h2>Lista de lançamentos:</h2>
    
<ul class="lancamentos-lista">
<% lancamentos.forEach(produto   =>{%>
      <div class="lancamentos-item">
      <li>**Título:** <%= produto.nome %></li>
      <li>**Preço:** <%= produto.preco.toLocaleString("pt-br",
        {style:"currency",currency:"BRL"}) %></li>
      </div>
     <% }) %>
</ul>
<br>
<a href="/"><< Voltar</a>
</div>
<%- include ('partials/footer.ejs')%>